section.hero {
  display: grid;
  place-content: center;

  background: linear-gradient(
      100deg,
      rgba(29, 17, 0, 0.85) 0%,
      rgba(19, 11, 0, 0.7) 60%,
      rgba(0, 0, 0, 0.35) 100%
    ),
    url("../../assets/images/garden_bg.jpg");
  background-position: center;
  background-size: cover;
}

.hero h2 {
  font-size: var(--fs-800);
  margin-block: 3rem;

  & span {
    color: var(--clr-primary-accent);
  }
}

.hero .cta {
  display: grid;
  gap: 2rem;
}

.hero .cta p {
  font-size: var(--fs-600);
  text-wrap: balance;
}

.hero .cta__buttons {
  display: flex;
  gap: 1rem;
}
