section.about {
  display: grid;
  place-content: center;
  gap: 3rem;
  text-align: center;

  background-color: var(--clr-light);
}

.about__images {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.75rem;
}
.about__images .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 40%;

  background-color: var(--clr-light);

  border-radius: 50%;
}

.about__images .img-wrapper img {
  width: 100%;
  aspect-ratio: 4/3;

  border-radius: 10px;
}

.about .about__info {
  display: grid;
  justify-items: center;
  gap: 1.5rem;

  padding-inline: 1rem;
}

.about h2 {
  max-width: 75%;
  color: var(--clr-dark);
}

.about p {
  max-width: 90%;
  color: var(--clr-dark);
}
