section.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(90vw, 450px), 1fr));

  justify-items: center;
  place-content: center;
  gap: 3rem;
  text-align: center;

  background-color: var(--clr-light);
}

.about__images {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.75rem;

  aspect-ratio: 4/3;

  margin-inline: auto;

  max-width: min(80vw, 450px);
}
.about__images .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 40%;

  background-color: var(--clr-light);

  border-radius: 50%;
}

.about__images .img-wrapper img {
  width: 100%;
  aspect-ratio: 4/3;

  border-radius: 10px;
}

.about .about__info {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;

  max-width: min(95vw, 80%);

  padding-inline: 1rem;
}

.about h2 {
  text-wrap: balance;
  color: var(--clr-dark);
}

.about p {
  max-width: 90%;
  color: var(--clr-dark);
}

/** DESKTOPS **/

@media (min-width: 1011px) {
  section.about {
    align-items: center;
    gap: 1rem;
  }

  /* .about__images {
    max-width: 70%;
  } */

  .about .about__info {
    justify-items: start;
    /* align-content: center; */
    text-align: left;
    /* max-width: 75%; */
  }
}
