section.contact {
  position: relative;
  display: grid;
  text-align: center;
  gap: 2rem;

  padding-bottom: 0;
  padding-inline: 0;
}

.contact h2 {
  padding-inline: 2rem;
  text-wrap: balance;
  color: var(--clr-dark);

  & span {
    color: var(--clr-primary);
  }
}

.contact form {
  display: flex;
  flex-direction: column;

  padding-bottom: 4rem;
  padding-inline: 2rem;
}

.contact form label {
  font-size: var(--fs-500);
  font-weight: 500;
  text-align: left;

  margin-block: 2.5rem 0.5rem;

  color: var(--clr-dark);
}

.contact form input,
.contact form textarea {
  font-size: var(--fs-500);
  color: var(--clr-dark);

  padding: 0.5rem;

  outline: 1px solid rgba(128, 128, 128, 0.521);
  border: none;
  border-radius: 5px;
  background-color: rgb(231, 231, 231);
}

.contact form button {
  margin-top: 2rem;
}

.contact-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  column-gap: 2rem;
  row-gap: 2rem;

  padding-block: 4rem 8rem;

  color: var(--clr-black);
  /* background-color: rgb(235, 235, 235); */
}

.contact-info__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  min-width: min(1600px, 80vw);
  min-height: 200px;

  text-align: center;

  padding: 2rem;

  background: linear-gradient(
      180deg,
      rgba(49, 28, 0, 0.8) 0%,
      rgba(49, 28, 0, 0.8) 60%,
      rgba(49, 28, 0, 0.8) 100%
    ),
    url("../../assets/images/wide-trees.jpg");
  background-size: auto;

  border-radius: 10px;
  box-shadow: 2px 2px 10px 2px rgba(109, 109, 109, 0.616);
}

.contact-info__card:first-child {
  background-position: top;
}
.contact-info__card:nth-child(2) {
  background-position: center;
}
.contact-info__card:nth-child(3) {
  background-position: bottom;
}

.contact-info__card .card-icon {
  font-size: var(--fs-700);
  color: var(--clr-light);
}
.contact-info__card p {
  font-size: var(--fs-500);
  font-weight: 500;
  color: var(--clr-light);
  letter-spacing: 1.5px;
}

.contact-info a {
  position: absolute;
  bottom: 2rem;
  right: 50%;

  transform: translateX(50%);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: var(--fs-300);

  color: var(--clr-primary);
}

/** DESKTOPS **/

@media (min-width: 1011px) {
  .contact-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4rem;
  }

  /* .contact-wrapper .contact-info {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-block: initial;

    background-color: transparent;
  } */

  .contact-wrapper form {
    justify-content: center;
    min-width: 35%;
  }

  .contact form label {
    margin-block: 2rem 0.5rem;
  }

  /* .contact-info__card {
    display: flex;
    align-items: center;
    gap: 3rem;

    text-align: left;

    min-height: 150px;

    padding: 2rem;

    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(211, 211, 211, 0.616);
  } */

  .contact-info {
    display: flex;
  }

  .contact-info a {
    right: 1rem;

    transform: translateX(0);
  }
}
