header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.145);
  /* backdrop-filter: blur(2px); */
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  color: var(--clr-light);
}

header nav button {
  z-index: 101;
  font-size: var(--fs-600);
  color: var(--clr-light);

  background: none;
  border: none;
}

header nav ul {
  position: fixed;
  inset: 0;
  z-index: 100;

  padding-top: 15vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  text-transform: uppercase;

  background-color: var(--clr-primary);
}

header nav ul li a {
  font-weight: 600;
  color: var(--clr-light);
}
