header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding: 1rem;

  background-color: rgba(27, 19, 0, 0.39);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--clr-light);
}

header nav h1 {
  /* font-family: "Faustina", "Saira Semi Condensed", system-ui, Avenir, Helvetica,
    Arial, sans-serif; */
  font-size: var(--fs-700);

  & span {
    color: var(--clr-primary-accent);
  }
}

header nav button {
  z-index: 101;
  font-size: var(--fs-700);
  color: var(--clr-light);

  background: none;
  border: none;
}

header nav ul {
  position: fixed;
  inset: 0;
  z-index: 100;

  padding-top: 15vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  text-transform: uppercase;

  background-color: var(--clr-primary);
}

header nav ul li a {
  font-weight: 600;
  color: var(--clr-light);
}
