@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;");

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  padding-block: 0.75rem;

  border-top: 1px solid rgba(211, 211, 211, 0.516);
}

footer img {
  max-height: 30px;
  /* filter: invert(1); */
}

footer a {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-300);
  color: var(--clr-black);
}

footer a:hover,
footer a:hover,
footer a:focus-visible {
  color: var(--clr-primary);
  & img {
    filter: invert(23%) sepia(71%) saturate(669%) hue-rotate(78deg)
      brightness(90%) contrast(92%);
  }
}
