:root {
  /** COLORS **/
  --clr-primary: #125619;
  --clr-light: #fcfcfc;
  --clr-dark: #5b3700;
  --clr-accent: #a4a4a4;

  /** FONT SIZES **/
  --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-750: 2rem;
  --fs-700: 1.6rem;
  --fs-600: 1.25rem;
  --fs-500: 1rem;
  --fs-400: 0.9275rem;
  --fs-300: 0.8rem;
  --fs-200: 0.875rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** TABLETS **/
@media (min-width: 40rem) {
  :root {
    --fs-800: 5rem;
    --fs-750: 2.8rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.9275rem;
  }
}

/** MOBILES **/
@media (max-width: 40rem) {
  :root {
    --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);
    --fs-800: 6.25rem;
    --fs-750: 3.8rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;

  color: var(--clr-light);
  background: var(--clr-light);
}

#root {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.btn {
  display: inline-block;
  width: max-content;
  font-weight: 600;
  text-transform: uppercase;

  padding: 0.75rem 1.2rem;

  color: var(--clr-dark);

  border-radius: 0.4rem;
  /* border: 1px solid var(--clr-dark); */
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
  background: var(--clr-white);
  color: var(--clr-dark);
  border-color: transparent;
}

.btn-primary {
  background: var(--clr-dark);
  color: var(--clr-light);
  border: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
